Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, ruff, mypy

black:
  name: black
  language: system
  entry: black .

codespell:
  name: codespell
  language: system
  entry: codespell

ruff:
  name: ruff
  language: system
  entry: ruff

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true

feat: Also get the errors from testdeadlink and expose them to the consumer of the API.
  src/models/identifiers_checking/url.py
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

chore: Ignore "RUF012".
  pyproject.toml
Due: none

fix: CI fail because of missing config.py
  .github/workflows/lint_python.yml
Due: none

fix: Skip test in CI which needs the auth code
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

fix: Skip test when the auth code is not present
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

chore: Delete comments
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

fix: Increase timeout on test
  tests/api/test_check_url.py
Due: black, codespell, ruff, mypy

fix: Rename class
  tests/api/test_check_url.py
Due: black, codespell, ruff, mypy

chore: Add more rules to .gitignore
  .gitignore
Due: none

fix: Update python version to 3.10 and use slim.
  Dockerfile
Due: none

fix: Move to new line
  Dockerfile
Due: none

fix: Make debug IARI dockerfile work and remove helper scripts no longer needed
  Dockerfile
  debug_app.py
  run-api.sh
  run-debug-api.sh
Due: black, codespell, ruff, mypy

docs: Update README.md
  README.md
Due: codespell

chore: Remove the config.py and config_sample.py files because they were just confusing and we don't need it. Make __init__.py executable for iariprod.
  config_sample.py
  debug_app.py
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/models/api/handlers/__init__.py
  src/models/api/handlers/all.py
  src/models/api/handlers/pdf.py
  src/models/api/job/__init__.py
  src/models/api/job/article_job.py
  src/models/base/__init__.py
  src/models/file_io/__init__.py
  src/models/identifiers_checking/doi.py
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/article.py
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/api/test_check_url.py
  tests/checking/test_url.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

chore: Document pre-commit command and why we have it.
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Add missing dependency types-beautifulsoup4
  poetry.lock
  pyproject.toml
Due: none

chore: Document how to install pre-commit
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Fix headings
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Improve heading
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Add development workflow to DEVELOPMENT_NOTES.md
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Add Running IARI in AWS to DEVELOPMENT_NOTES.md
  DEVELOPMENT_NOTES.md
Due: codespell

chore: Fix comment
  pyproject.toml
  src/models/wikimedia/wikipedia/reference/extractor.py
Due: black, codespell, ruff, mypy

fix: Fix bug with extraction of urls.
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
Due: black, codespell, ruff, mypy

fix: Fix classvar pre-commit warning
  src/models/api/handlers/all.py
Due: black, codespell, ruff, mypy

fix: Fix tests
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
Due: black, codespell, ruff, mypy

fix: Update limitation in README.md
  README.md
Due: codespell

chore: Remove unused attribute
  .pre-commit-config.yaml
  src/models/wikimedia/wikipedia/analyzer.py
  src/views/statistics/article.py
Due: black, codespell, ruff, mypy

chore: Update dependencies
  poetry.lock
Due: none

fix: Fix pre-commit warnings
  src/models/api/handlers/all.py
  src/models/identifiers_checking/url.py
  src/views/check_doi.py
  src/views/check_url.py
  src/views/statistics/article.py
  src/views/statistics/pdf.py
  src/views/statistics/write_view.py
  src/views/statistics/xhtml.py
  tests/api/test_check_url.py
  tests/checking/test_url.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
Due: black, codespell, ruff, mypy

chore: Fix CI classvar warnings
  src/models/wikimedia/wikipedia/reference/generic.py
  src/views/check_doi.py
  src/views/check_url.py
  src/views/statistics/pdf.py
Due: black, codespell, ruff, mypy

chore: Fix CI classvar warnings
  src/models/api/handlers/all.py
  src/models/api/handlers/pdf.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/views/check_doi.py
  src/views/check_url.py
  src/views/statistics/pdf.py
Due: black, codespell, ruff, mypy

chore: Fix CI classvar warnings
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/views/statistics/xhtml.py
Due: black, codespell, ruff, mypy

chore: Fix CI classvar warnings
  src/models/api/handlers/all.py
  src/models/api/handlers/xhtml.py
  src/models/file_io/__init__.py
  src/models/file_io/article_file_io.py
  src/models/file_io/doi_file_io.py
  src/models/file_io/references.py
  src/models/file_io/xhtml_file_io.py
Due: black, codespell, ruff, mypy

chore: Fix CI classvar warnings
  src/models/file_io/pdf_file_io.py
  src/models/file_io/reference_file_io.py
  src/models/file_io/url_file_io.py
  src/models/identifiers_checking/url.py
Due: black, codespell, ruff, mypy

chore: Fix test failures
  src/models/api/handlers/pdf.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/views/statistics/article.py
  src/views/statistics/write_view.py
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

chore: Fix test failures
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

Path conditions:
  black: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, but not: ^test_data/
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^test_data/|^deprecated
