Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, ruff, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: dead
    name: dead
    entry: dead
    args:
      - "--exclude"
      - "test_data/test_content.py|^deprecated/" # regex separate by "|"
    language: system
    pass_filenames: false
    # types: [python]


  - id: black
    name: black
    language: system
    entry: black .
    types: [python]

  - id: codespell
    name: codespell
    language: system
    entry: codespell
#    args:
#      - "src/"
#      - "tests/"
#      - "*.md"
#      - "*.py"
    # pass_filenames: false
    types_or: [python, markdown]
    exclude: ^test_data/

  - id: ruff
    name: ruff
    language: system
    entry: ruff
    types: [python]

 # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    # use your preferred Python version
    # language_version: python3.7
    # additional_dependencies: ["mypy==0.790"]
    types: [python]
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    exclude: ^test_data/|^deprecated
    # Print the number of files as a sanity-check
    # verbose: true

#  - id: pytest
#    name: pytest
#    language: system
#    entry: pytest
##    args:
##      - "--durations=10"
##      - "--ignore=tests/test_wcdimportbot.py"
#    types: [ python ]

fix: Make all tests pass and use a more static public test page.
  tests/api/handler/test_xhtml.py
Due: black, codespell, ruff, mypy

chore: pre-commit fixes
  tests/api/handler/test_xhtml.py
Due: black, codespell, ruff, mypy

Simplify Python code with flake8-simplify
  pyproject.toml
  src/models/identifiers_checking/doi.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/reference/template/template.py
Due: black, codespell, ruff, mypy

rewrite: Extract links from annotations also
  src/models/api/handlers/pypdf.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

rewrite: Output both text links and annotation links to the patron and test it. Update README.md with the new output syntax.
  README.md
  src/models/api/handlers/pdf.py
  src/views/statistics/pdf.py
  tests/api/handler/test_pdf_handler.py
  tests/api/test_pdf.py
Due: black, codespell, ruff, mypy

fix: Fix test
  tests/api/test_article.py
Due: black, codespell, ruff, mypy

feat: Add mean, min and max word counts to pdf endpoint and test it. Switch to using local test_data instead to avoid long running tests.
  src/models/api/handlers/pdf.py
  test_data/Addressing-College-Drinking-and-Drug-Use.pdf
  test_data/FFO-FLASH-REPORT-REV.pdf
  test_data/test.pdf
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

doc: Update README.md to new output syntax.
  README.md
Due: codespell

fix: Disable all tests that hang during cli invocation of pytests, fix pytest cli helper scripts and update coverage. fixes #795 fixes #308
  TEST_COVERAGE.txt
  run-test-coverage.sh
  run-test-find-slow-ones.sh
  tests/api/handler/test_all_handler.py
  tests/api/test_article.py
  tests/api/test_pdf.py
Due: black, codespell, ruff, mypy

fix: Update CI configuration
  .github/workflows/lint_python.yml
Due: none

docs: Add documentation on known deployed instances and document remaining endpoints
  KNOWN_DEPLOYED_INSTANCES.md
  README.md
Due: codespell

fix: Add config.py to project and remove it from gitignore.
  .gitignore
  config.py
Due: black, codespell, ruff, mypy

docs: Move installation and setup documentation to README.md
  DEVELOPMENT_NOTES.md
  README.md
Due: codespell

chore: Cleanup with ruff and deprecate old diagrams
  BENEFITS_OF_WCD.md
  INVESTIGATIONS.md
  RELEASE.md
  calculate_complexity_and_estimated_cost.sh
  clean_json.sh
  diagrams/components.png
  diagrams/components.puml
  diagrams/deprecated/classes.png
  diagrams/deprecated/classes.puml
  diagrams/deprecated/wikibase_import/api_output.png
  diagrams/deprecated/wikibase_import/api_output.puml
  diagrams/deprecated/wikibase_import/classes.puml
  diagrams/deprecated/wikibase_import/components.png
  diagrams/deprecated/wikibase_import/components.puml
  diagrams/deprecated/wikibase_import/roadmap.png
  diagrams/deprecated/wikibase_import/roadmap.puml
  diagrams/deprecated/wikibase_import/sequence_generate_wikibase_graph.puml
  diagrams/wari/classes.puml
  pyproject.toml
  pytest.ini
  run-api.sh
  run-debug-api.sh
  run-ssdb.sh
  run-worker.sh
  src/views/statistics/references.py
Due: black, codespell, ruff, mypy

fix: Fix tests not being found by pycharm
  tests/api/__init__.py
  tests/api/handler/__init__.py
  tests/file_io/__init__.py
  tests/wikipedia/__init__.py
  tests/wikipedia/reference/__init__.py
Due: black, codespell, ruff, mypy

docs: Flesh out footnote subtypes to own file.
  FOOTNOTE_REFERENCES.md
  README.md
Due: codespell

fix: Update clean script
  clean_json.sh
Due: none

chore: Deprecate more files
  deprecated/create_enwiki_items.py
  deprecated/run-ssdb.sh
  deprecated/wcdimportbot.py
Due: black, codespell, ruff

docs: Add new endpoints to features
  README.md
Due: codespell

chore: Deprecate more files
  deprecated/setup_all_properties_and_items_on_new_wikibase.py
Due: black, codespell, ruff

docs: Update components and remove outdated classes.png from the README.md
  README.md
  diagrams/components.png
Due: codespell

fix: Try to make CI tests be able to access test_data.
  .github/workflows/lint_python.yml
  tests/__init__.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

Update README.md
  README.md
Due: codespell

fix: Add poetry run to all scripts
  deprecated/run-worker.sh
  run-api.sh
  run-debug-api.sh
  run-test-coverage.sh
  run-test-find-slow-ones.sh
Due: none

fix: Fix path for tests
  run-test-coverage.sh
  run-test-find-slow-ones.sh
Due: none

chore: Lock dependencies
  poetry.lock
Due: none

chore: Remove pika
  poetry.lock
  pyproject.toml
Due: none

chore: New helper script to set up directories for saving the json
  setup_json_directories.sh
Due: none

fix: Add missing __init__.py
  tests/checking/__init__.py
Due: black, codespell, ruff, mypy
