Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, ruff, mypy

black:
  name: black
  language: system
  entry: black .

codespell:
  name: codespell
  language: system
  entry: codespell

ruff:
  name: ruff
  language: system
  entry: ruff

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true

fix: Fix tests
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy

fix: Fix tests
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

fix: Fix tests
  tests/api/test_article.py
Due: black, codespell, ruff, mypy

fix: Fix first level domain counts to be based on unique flds per reference instead of being based on all url objects.
  src/models/wikimedia/wikipedia/reference/extractor.py
  tests/api/test_article.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy

fix: Remove slash from extraction of name.
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
Due: black, codespell, ruff, mypy

fix: Fix test
  src/models/wikimedia/wikipedia/reference/generic.py
Due: black, codespell, ruff, mypy

fix: Fix forward slash in name with missing quotes
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
Due: black, codespell, ruff, mypy

fix: Fix move wari_id generation into ArticleJob and use it everywhere to avoid a weird bug with the wrong cache hit being returned.
  src/models/api/job/article_job.py
  src/models/file_io/article_file_io.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  src/views/statistics/article.py
  tests/api/test_article.py
  tests/api/test_article_job.py
Due: black, codespell, ruff, mypy

chore: pre-commit warnings fixed
  tests/api/test_article.py
Due: black, codespell, ruff, mypy

fix: Fix tests and only set the revision to the latest if the patron did not provide any.
  src/models/api/job/article_job.py
  src/models/wikimedia/wikipedia/analyzer.py
Due: black, codespell, ruff, mypy

feat: Expose debug output in the pdf endpoint using a new debug parameter. Expose also the total number of characters.
  DEVELOPMENT_NOTES.md
  README.md
  src/models/api/handlers/__init__.py
  src/models/api/handlers/pdf.py
  src/models/api/job/check_url_job.py
  src/models/api/schema/check_url_schema.py
  src/views/statistics/pdf.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

fix: Fix test
  test_data/d-ind-global.01-2022-pdf-e-184.pdf
Due: none

fix: Fix json type error during encoding.
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

feat: Rewrite the parsing of text links to use multiple different cleaning methods before we try to extract.
  src/models/api/handlers/pdf.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

chore: Improve and fix the tests. Also reenable the number_of convenience methods for easier testing.
  src/models/api/handlers/pdf.py
  tests/api/handler/test_pdf_handler.py
Due: black, codespell, ruff, mypy

fix: Fix bug with wrong keys
  src/views/statistics/pdf.py
Due: black, codespell, ruff, mypy

chore: Update pdf endpoint documentation in the README.md
  README.md
Due: codespell

chore: Remove deprecated code
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

chore: Update version and dependencies.
  poetry.lock
  pyproject.toml
Due: none

fix: Fix test by increasing the timeout a bit.
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

chore: Update README.md to reflect the current direction of the project.
  README.md
Due: codespell

chore: Update KNOWN_DEPLOYED_INSTANCES.md with statistics
  KNOWN_DEPLOYED_INSTANCES.md
Due: codespell

Update README.md
  README.md
Due: codespell

feat: Add more debug output directly from PyMuPDF
  README.md
  src/models/api/handlers/pdf.py
  src/models/api/job/check_url_job.py
  src/models/api/schema/check_url_schema.py
  src/views/statistics/pdf.py
Due: black, codespell, ruff, mypy

testing: Add tests for new debug output
  tests/api/test_pdf.py
Due: black, codespell, ruff, mypy

feat: Get status code from testdeadlink API also. One test for now
  src/models/identifiers_checking/url.py
  src/views/check_url.py
  tests/api/test_check_url.py
Due: black, codespell, ruff, mypy

Updated PDF debug examples
  README.md
Due: codespell

rewrite: Rewrite check_url.py logic to avoid cache issues.
  src/models/identifiers_checking/url.py
  src/views/check_doi.py
  src/views/check_url.py
  src/views/statistics/article.py
  src/views/statistics/pdf.py
  src/views/statistics/write_view.py
  src/views/statistics/xhtml.py
Due: black, codespell, ruff, mypy

doc: Update README.md with documentation of check-url after the rewrite.
  README.md
Due: codespell

chore: bump version
  pyproject.toml
Due: none

docs: Add missing poetry run to commands
  README.md
Due: codespell

docs: Add command to run tests using pytest
  DEVELOPMENT_NOTES.md
Due: codespell

docs: Rename to debug mode to avoid
  README.md
Due: codespell

docs: Avoid poetry run completely
  DEVELOPMENT_NOTES.md
  README.md
Due: codespell

docs: Avoid poetry run completely and tell patrons about venv
  README.md
Due: codespell

docs: Add pycharm specific recommendations
  README.md
Due: codespell

feat: Use private config.py to keep the testdeadlink auth code private and only commit a config_sample.py.
  .gitignore
  config_sample.py
Due: black, codespell, ruff, mypy

Path conditions:
  black: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, but not: ^test_data/
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^test_data/|^deprecated
