Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, ruff, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: dead
    name: dead
    entry: dead
    args:
      - "--exclude"
      - "test_data/test_content.py|^deprecated/" # regex separate by "|"
    language: system
    pass_filenames: false
    # types: [python]


  - id: black
    name: black
    language: system
    entry: black .
    types: [python]

  - id: codespell
    name: codespell
    language: system
    entry: codespell
#    args:
#      - "src/"
#      - "tests/"
#      - "*.md"
#      - "*.py"
    # pass_filenames: false
    types_or: [python, markdown]
    exclude: ^test_data/

  - id: ruff
    name: ruff
    language: system
    entry: ruff
    types: [python]

 # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    # use your preferred Python version
    # language_version: python3.7
    # additional_dependencies: ["mypy==0.790"]
    types: [python]
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    exclude: ^test_data/|^deprecated
    # Print the number of files as a sanity-check
    # verbose: true

#  - id: pytest
#    name: pytest
#    language: system
#    entry: pytest
##    args:
##      - "--durations=10"
##      - "--ignore=tests/test_wcdimportbot.py"
#    types: [ python ]

fix: Handle exception from requests when the url is not found or times out.
  README.md
  src/models/api/handlers/pdf.py
  src/views/statistics/pdf.py
  tests/api/test_pdf.py
Due: black, codespell, ruff, mypy

chore: Pre-commit fixes
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

feat: Add ORES score to the output of the article endpoint.
  src/models/api/statistic/article.py
  src/models/wikimedia/enums.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  tests/wikipedia/test_analyzer.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

chore: Make ruff fix issues automatically if possible
  .pre-commit-config.yaml
Due: none

docs: Update output
  README.md
Due: codespell

fix: Fix bug with hardcoded enwiki
  src/models/wikimedia/wikipedia/article.py
Due: black, codespell, ruff, mypy

fix: Update To use 400 when we got back a response with a status code but no content to work on. Return 404 when we get a ReadTimeout exception because the resource is no longer available.
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

Remove unnecessary function calls to dict() and list()
  pyproject.toml
  src/models/api/handlers/xhtml.py
  src/models/api/link/xhtml_link.py
  src/models/file_io/__init__.py
  src/models/file_io/article_file_io.py
  src/models/file_io/doi_file_io.py
  src/models/file_io/pdf_file_io.py
  src/models/file_io/reference_file_io.py
  src/models/file_io/url_file_io.py
  src/models/file_io/xhtml_file_io.py
  src/models/identifiers_checking/doi.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  src/views/statistics/references.py
  tests/test_get_statistics_schema.py
  tests/test_section.py
Due: black, codespell, ruff, mypy

ruff --select=C408 --fix src/models/api/handlers/pdf.py
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

Lint for Python asyncio issues
  pyproject.toml
Due: none

ruff = "^0.0.269"
  pyproject.toml
Due: none

Poetry…
  pyproject.toml
Due: none

feat: Parse the wayback machine url to get the fld of the archived url.
  src/models/wikimedia/wikipedia/url.py
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

fix: Remove rule that broke ruff
  pyproject.toml
Due: none

fix: Fix test
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

fix: Use validator package and remove part of our own validation code. Fix all failing tests.
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/enums.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/reference/template/template.py
  src/models/wikimedia/wikipedia/url.py
  tests/api/handler/test_xhtml.py
  tests/api/test_article.py
  tests/checking/test_url.py
  tests/wikipedia/test_wikipedia_url.py
Due: black, codespell, ruff, mypy

chore: Add validators
  poetry.lock
  pyproject.toml
Due: none

fix: Wrong variable names
  tests/wikipedia/test_wikipedia_url.py
Due: black, codespell, ruff, mypy

fix: Fix failing tests
  tests/api/test_article.py
Due: black, codespell, ruff, mypy

feat: Fix failing tests
  src/models/api/statistic/reference.py
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/url.py
  src/views/check_url.py
  tests/api/test_article.py
  tests/checking/test_url.py
  tests/wikipedia/reference/test_extractor.py
  tests/wikipedia/test_wikipedia_url.py
Due: black, codespell, ruff, mypy

feat: WIP Extend wari_id to include revision_id and support fetching specific revisions also.
  src/models/api/job/article_job.py
  src/models/api/schema/article_schema.py
  src/models/api/statistic/article.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
Due: black, codespell, ruff, mypy

feat: Populate revision_isodate and revision_timestamp and test them.
  src/models/api/statistic/article.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

chore: Rename to revision_id to avoid confusion and add checks for missing information.
  src/models/api/statistic/article.py
  src/models/wikimedia/wikipedia/analyzer.py
Due: black, codespell, ruff, mypy

chore: Remove old dead code
  src/models/wikimedia/wikipedia/analyzer.py
Due: black, codespell, ruff, mypy

chore: Remove todos
  src/models/wikimedia/wikipedia/article.py
Due: black, codespell, ruff, mypy

fix: Parse the revision date and add tests
  src/models/wikimedia/wikipedia/article.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

chore: Pre-commit fixes
  src/models/wikimedia/wikipedia/article.py
Due: black, codespell, ruff, mypy

fix: Remove useless mwclient and get the page_id correctly. Add more tests for the specific revision data fetching. Fix failing tests. Comment out useless test.
  src/models/wikimedia/wikipedia/article.py
  tests/wikipedia/test_analyzer.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

fix: Compile the regex once and use it repeatedly.
  src/models/api/handlers/pdf.py
Due: black, codespell, ruff, mypy

feat: Use new package validators to validate the urls in both xhtml and pdf endpoints. For now we silently discard invalid urls without logging them or informing the patron. Fix the tests.
  src/models/api/handlers/pdf.py
  src/models/api/handlers/xhtml.py
Due: black, codespell, ruff, mypy

fix: Fix failing tests
  tests/api/handler/test_xhtml.py
Due: black, codespell, ruff, mypy

feat: Detect language in xhtml, pdf and check-url endpoints and output it to the patron.
  poetry.lock
  pyproject.toml
  src/models/api/handlers/__init__.py
  src/models/api/handlers/pdf.py
  src/models/api/handlers/xhtml.py
  src/models/identifiers_checking/url.py
  tests/api/handler/test_pdf_handler.py
  tests/api/handler/test_xhtml.py
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

Update KNOWN_DEPLOYED_INSTANCES.md
  KNOWN_DEPLOYED_INSTANCES.md
Due: codespell

fix: Typo
  KNOWN_DEPLOYED_INSTANCES.md
Due: codespell

feat: Retain wikitext in the output of article but delete the url_objects and templates to keep them dehydrated.
  src/models/wikimedia/wikipedia/analyzer.py
  tests/wikipedia/test_analyzer.py
Due: black, codespell, ruff, mypy

fix: fix failing test
  tests/api/handler/test_xhtml.py
Due: black, codespell, ruff, mypy

fix: Return unique first level domain counts per reference. Move to shared compiled regex for link extraction. Support extraction of name from footnote references.
  config.py
  src/models/api/handlers/pdf.py
  src/models/api/statistic/reference.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
  tests/wikipedia/test_analyzer.py
Due: black, codespell, ruff, mypy

feat: Support extracting urls from xhtml comments also.
  src/models/wikimedia/wikipedia/reference/generic.py
  tests/wikipedia/reference/test_english_wikipedia_page_reference.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy
