Repository internetarchive/iari: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, codespell, ruff, mypy

black:
  name: black
  language: system
  entry: black .

codespell:
  name: codespell
  language: system
  entry: codespell

ruff:
  name: ruff
  language: system
  entry: ruff
  args:
  - --fix
  - --format=github
  - --target-version=py37

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true

feat: Remove broken url validation from the whole codebase. This helps increase reliablity.
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/url.py
Due: black, codespell, ruff, mypy

fix: Fix tests
  tests/checking/test_url.py
  tests/wikipedia/reference/test_extractor.py
  tests/wikipedia/test_wikipedia_url.py
Due: black, codespell, ruff, mypy

chore: Remove all code related to the references endpoint which is no longer needed.
  src/__init__.py
  src/models/api/job/references_job.py
  src/models/api/schema/references_schema.py
  src/views/statistics/references.py
  tests/api/test_check_url.py
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

chore: Remove from README.md
  README.md
Due: codespell

fix: Enable and increase testing of testdeadlink API response
  tests/checking/test_url.py
Due: black, codespell, ruff, mypy

fix: Add key to the workflow environment
  .github/workflows/lint_python.yml
Due: none

chore: Add comment to documentation
  .github/workflows/lint_python.yml
Due: none

added Deploy section to RELEASE.md
  RELEASE.md
  debug_app.py
Due: black, codespell, ruff, mypy

Revert "set up for Docker"
  Dockerfile
  RELEASE.md
  app_run.py
  app_run_debug.py
  debug_app.py
  pyproject.toml
Due: black, codespell, ruff, mypy

Update app_run.py - indicate ruff ignore check
  app_run.py
Due: black, codespell, ruff, mypy

prepared for Docker containerization; Dockerfile and app_run files
  Dockerfile
  RELEASE.md
  app_run.py
  app_run_debug.py
  pyproject.toml
Due: black, codespell, ruff, mypy

convert ampersands to %26 in url before sending to testdeadlink in identifiers_checking/url.py
  app_run_debug.py
  src/models/identifiers_checking/url.py
  src/views/statistics/article.py
Due: black, codespell, ruff, mypy

fixed ruff lint errors
  Dockerfile
  app_run.py
  app_run_debug.py
  debug_app.py
  pyproject.toml
  tests/api/test_article_job.py
  tests/test_get_statistics_schema.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy

fixed formatting for 'black' check
  src/models/identifiers_checking/url.py
  tests/api/test_article_job.py
  tests/test_get_statistics_schema.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy

fixed readme
  README.md
Due: codespell

remove safety check from github autoscript (lint_python.yml)
  .github/workflows/lint_python.yml
Due: none

commented out certain tests so progress can be made
  src/models/api/handlers/xhtml.py
  tests/checking/test_url.py
  tests/wikipedia/test_analyzer.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

added /version endpoint
  pyproject.toml
  src/__init__.py
  src/models/api/job/version_job.py
  src/models/api/schema/version_schema.py
  src/views/statistics/__init__.py
  src/views/version.py
Due: black, codespell, ruff, mypy

ruff fixes
  poetry.lock
  pyproject.toml
  src/models/api/job/version_job.py
  src/models/api/schema/version_schema.py
  src/views/version.py
Due: black, codespell, ruff, mypy

added Dockerfile.test
  Dockerfile.test
Due: none

ruff fixes
  pyproject.toml
  src/__init__.py
  tests/api/test_article_job.py
  tests/test_get_statistics_schema.py
  tests/wikipedia/reference/test_extractor.py
Due: black, codespell, ruff, mypy

implemented /check-urls endpoint
  _notes/_scratch.txt
  _notes/async/async.txt
  _notes/ideas/cors.txt
  pyproject.toml
  src/__init__.py
  src/models/api/job/check_urls_job.py
  src/models/api/job/version_job.py
  src/models/api/schema/check_urls_schema.py
  src/models/api/schema/version_schema.py
  src/views/check_urls.py
  src/views/version.py
Due: black, codespell, ruff, mypy

code formatting fixes
  src/models/api/job/check_urls_job.py
  src/views/check_urls.py
Due: black, codespell, ruff, mypy

updated version endpoint response
  src/views/version.py
Due: black, codespell, ruff, mypy

modified .gitignore to exclude provate _notes directory
  .gitignore
Due: none

deleted priovate _notes dir
  _notes/_scratch.txt
  _notes/async/async.txt
  _notes/ideas/cors.txt
Due: none

ruff fixes
  src/models/api/job/check_urls_job.py
  src/views/check_urls.py
Due: black, codespell, ruff, mypy

black format fixes
  src/models/api/job/version_job.py
  src/views/check_urls.py
Due: black, codespell, ruff, mypy

changed app.run timeout to 600 in app_run.py
  app_run.py
Due: black, codespell, ruff, mypy

minor changes
  app_run.py
  src/models/file_io/__init__.py
  src/views/check_urls.py
Due: black, codespell, ruff, mypy

ruff fixes
  app_run.py
  pyproject.toml
  src/views/check_urls.py
Due: black, codespell, ruff, mypy

Docker gunicorn command and version to 4.1.4
  Dockerfile
  src/views/version.py
Due: black, codespell, ruff, mypy

added Dockerfile.stage to accomodate 9 gunicorn workers
  Dockerfile.stage
Due: none

implemented IABOT searchurldata with __check_url_with_searchurldata_api__
  src/models/api/job/check_url_job.py
  src/models/api/schema/check_url_schema.py
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/url.py
  src/views/check_url.py
Due: black, codespell, ruff, mypy

first pass at html parsing for page citation references
  src/models/api/job/article_job.py
  src/models/api/statistic/article.py
  src/models/api/statistic/reference.py
  src/models/mediawiki/section.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/article.py
  src/models/wikimedia/wikipedia/reference/extractor.py
  src/models/wikimedia/wikipedia/reference/generic.py
  src/models/wikimedia/wikipedia/url.py
  src/views/statistics/article.py
  tests/wikipedia/test_wikipedia_article.py
Due: black, codespell, ruff, mypy

extractor.py: extract data-mw into rawdata property; extract cite_refs
  Dockerfile
  pyproject.toml
  src/models/api/statistic/article.py
  src/models/wikimedia/wikipedia/analyzer.py
  src/models/wikimedia/wikipedia/reference/extractor.py
Due: black, codespell, ruff, mypy

rearranged output proprties for reference endpoint
  pyproject.toml
  src/models/api/statistic/reference.py
  src/models/identifiers_checking/url.py
  src/models/wikimedia/wikipedia/url.py
Due: black, codespell, ruff, mypy

implemented dynamic version extraction from pyproject.toml file
  pyproject.toml
  src/helpers/get_version.py
  src/views/version.py
Due: black, codespell, ruff, mypy

change searchurldata_results to iabot_results (src/models/identifiers_checking/url)
  pyproject.toml
  src/models/api/job/check_url_job.py
  src/models/identifiers_checking/url.py
Due: black, codespell, ruff, mypy

Path conditions:
  black: any of: \.py$
  codespell: any of: \.py$, \.(md|markdown|mdown)$, but not: ^test_data/
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^test_data/|^deprecated
